* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    width:100%;
    height:100%;
}

body {
    display: box;
    font-family: sans-serif;
    text-align: center;
    color: whitesmoke;
    background: linear-gradient(270deg, #ef745c 0%, #34073d 100%);
    background-size: 300%;
    background-position: left;
}

.graph {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-items: center;
}

.github-api {
    width: 80%;
    margin: 0 auto;
    font-size: 2ch;
    text-align: justify;
    font-weight: lighter;
    color: aliceblue;
    margin-top: 0.6rem;
}

.pair {
    margin: 0.5rem auto;
    width: 90%;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 1rem;
}

.pair div {
    padding: 0 1rem;
    width: 55%;
}

.exp {
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
    font-size: 1.8ch;
    text-align: justify;
}

.exp ul {
    padding: 0 1rem;
}

@media (max-width: 600px) {
    .pair {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
    }

    .pair div {
        width: 75%;
    }
}

.pad {
    padding: 1rem;
}

.overlay {
    height: 0;
    width: 100%;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background: linear-gradient(315deg, #ef745c 0%, #34073d 100%);
    background-size: 450%;
    background-position: left;
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 20%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: aliceblue;
    display: block;
    transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
    color: black;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
    .overlay a {
        font-size: 20px
    }

    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

.bio {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem auto;
    color: aqua;
    top: -3rem;
}

.bio h2 {
    margin: 1rem;
    font-size: 3ch;
}

.bio p {
    width: 80%;
    font-size: 1.8ch;
    font-weight: lighter;
}

.pic img {
    width: 8em;
    border-radius: 5em;
    margin: 1rem;
    box-shadow: 0px 0px 20px 0px rgb(72, 61, 90);
}

.inline-container {
    display: inline-flex;
    align-items: center;
    justify-content: space-evenly;
}

.inline-container a {
    font-size: 3ch;
    padding: 1.5rem 2rem;
    color: aliceblue;
}

.inline-container a:hover,
.inline-container a:focus {
    font-size: 3.5ch;
}

.profile {
    width: 5rem;
    padding: 0.5rem;
    margin: 0.6rem 0.5rem;
    background: black;
    font-size: 1.8ch;
    color: whitesmoke;
    border-style: none;
    border-radius: 0.2rem;
    transition: ease-in-out 300ms;
}

.profile:hover,
.profile:focus {
    font-size: 2ch;
    border-style: none;
}

.project {
    width: 20rem;
    height: 25rem;
    max-width: 100%;
    padding: 1rem;
    margin: 0 auto;
    background-color: red;
    border-radius: 0.5rem;
}