* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    width:100%;
    height:100%;
}

body {
    display: box;
    font-family: sans-serif;
    text-align: center;
    color: whitesmoke;
    background-image: url('https://mir-s3-cdn-cf.behance.net/project_modules/fs/150737123764445.60f58dc27aaa9.jpg');
    background-size: cover;
}

.column {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
}

.flex-end {
    align-items: flex-end;
}

.flex-center {
    justify-content: center;
}

.card {
    width: 100%;
    height: 7.2%;
    backdrop-filter: blur(12px) saturate(120%);
    -webkit-backdrop-filter: blur(8px) saturate(120%);
    background-color: rgba(39, 39, 39, 0.644);
    position: absolute;
    bottom: 0;
    border: none;
    transition: ease-in 1s;
}

.tab {
    width: 50vw;
    height: 70%;
    backdrop-filter: blur(12px) saturate(120%);
    -webkit-backdrop-filter: blur(8px) saturate(120%);
    background-color: rgba(39, 39, 39, 0.644);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
    border: none;
    border-radius: 15px;
    padding: 0.5rem;
    transition: ease-in 1s;
}

.profile p {
    font-size: 2ch;
}

.pic img {
    width: 12%;
    border-radius: 5em;
    margin: 1rem;
    box-shadow: 0px 0px 10px 0px rgb(227 171 225);
}

.home {
    padding: 0.8rem;
    margin: 0.6rem 0.5rem;
    background-color: transparent;
    font-size: 2ch;
    color: aliceblue;
    border-style: none;
    border-radius: 0.1rem;
    transition: ease-in-out 300ms;
}

.home:hover,
.home:focus {
    background-color: #74717129;
}

.cross-icon {
    font-size: 3ch;
}

.cross {
    transition: ease-in-out 0.3s;
}

.cross:hover,
.cross:focus {
    color: red;
}

.overlay-content {
    padding-top: 0.2rem;
}

.icons {
    font-size: 3ch;
    color: aliceblue;
}

.ih {
    padding: 7px;
    transition: ease-in-out 0.3s;
}

.ih:hover,
.ih:focus {
    background-color: rgba(245, 245, 245, 0.192);
    border-radius: 5px;
}